@{
    ViewData["Title"] = "Access Denied";
}

<div>
    <img src="~/images/access_denied.jpg" style="left:auto;right:auto;display:block;width:100%;" alt="Access Denied" />
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <h3><a asp-action="Index" asp-controller="Home">Back!</a></h3>
    </div>
</div>