@{
    ViewData["Title"] = "Something Went Wrong";
}

<div>
    <img src="~/images/Exception.png" style="left:auto;right:auto;display:block;width:100%;" alt="Not Found" />
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <h3><a asp-action="Index" asp-controller="Home">Back!</a></h3>
    </div>
</div>