@model NanoShop.Web.VM.Role.CreateRoleVM
@{
    ViewData["Title"] = "Create Role";
}
<div class="row">
    <div class="col-sm-12">
        <p class="text-center"><b>@ViewBag.Message</b></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <h1></h1>
        <h3 class="text-center">Create New Role</h3>
        <form asp-controller="Administration" asp-action="CreateRole" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Role Name</label>
                    @Html.TextBoxFor(x => x.RoleName, new { @class = "form-control", @maxlength = 100 })
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Create Role" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>

