
@{
    ViewData["Title"] = "Payment Status";
}

<h1>Payment Status</h1>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <p>@ViewBag.Message</p><br /><br /><br />
        <a href="/">Redirect To Home</a>
    </div>
    <div class="col-sm-4"></div>
</div>

